@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --radius: 0.25rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}
